* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.login__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 30%;
    height: 330px;
    background-color: #ffff;
    border-radius: 10px;
}

.login__body {
    padding: 20px;
}

.login_title {
    display: flex;
    justify-content: space-between;
}


.login__main {
    font-size: 1.4rem;
}

.login__login {
    padding-top: 5px;
}

.login__login-link {
    font-size: 1.2rem;
    text-decoration: none;
}

.login__form {
    padding: 20px 0px;
}

.input__bag {
    margin-bottom: 20px;
}

.login__input {
    width: 100%;
    height: 38px;
    padding-left: 10px;
    font-size: 0.9rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login__input-select {
    width: 40%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #757575;
}

/* .login__input-file {
    background-color: #ffff;
    height: 30px;
} */

.login__input:focus {
    border: rgb(9, 9, 27) solid 3px;
}

.resgister__rules {
    text-align: center;
}

.resgister__rules span {
    font-weight: bold;
    color: #8E0007;
}

.btn_bag {
    padding-top: 30px;
    text-align: right;
}

.btn__login {
    padding: 7px 20px;
    background-color: #000;
    color: #ffff;
    border: none;
    cursor: pointer;
}

.btn__login-link {
    text-decoration: none;
    margin-right: 10px;
    padding: 7px 20px;
    color: #000;
}