.content {
    margin-top: 50px;
}

.section__header {
    position: fixed;
    background-color: #fff;
    top: 50;
    right: 0;
    left: 0;
}

.section__header-bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0px 120px;
}

.section__header-list-product {
    display: flex;
    list-style-type: none;
}

.section__header-list-product,
.section__header-addess {
    padding-top: 15px;
}


.section__header-list-item {
    padding: 0px 5px;
}

.section__header-list-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
}

.section__header-select {
    height: 26px;
    font-size: 13px;
    width: 130px;
}

.section__header-filter {
    cursor: pointer;
}

.input_product:checked~.over__lay {
    display: block;
}

.input_product:checked~.cate_product-bag {
    /* display: block; */
    transform: translateX(0%);
    /* transition: all ease-in-out 0.5s; */
    opacity: 1;
}

.over__lay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}

.cate_product-bag {
    position: fixed;
    width: 350px;
    top: 50px;
    left: 0;
    bottom: 0;
    background-color: #ffff;
    /* display: none; */
    transform: translateX(-100%);
    transition: all linear 0.4s;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cate_product-title {
    font-size: 1.2rem;
    padding: 50px 0px 0px 50px;
    padding-bottom: -20px;
}

.cate_product-list {
    list-style-type: none;
    padding: 10px 50px;
}

.cate_product-item {
    padding: 10px 0px;
}

.cate_product-item i {
    padding-right: 10px;
    font-size: 0.8rem;
}

.close__cate {
    float: right;
    padding: 15px 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.cate_product-item a {
    text-decoration: none;
    color: #000;
}

.logo__cate {
    background-color: #000;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.logo__cate-img-on {
    width: 100px;
}

.logo__cate-img {
    width: 250px;
}

.img__cate-bag {
    padding: 20px;
}